@import "tailwindcss";

html,
body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
}

body {
  user-select: none;
  -webkit-user-select: none;
}

input,
textarea {
  user-select: text;
  -webkit-user-select: text;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}